.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.container > div {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  background: var(--dark-desaturated-blue);
  color: var(--soft-red);
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: grid;
  place-items: center;
}

.container p,
main > p {
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 3px;
  font-size: 0.75rem;
  margin-right: -3px;
}

main > p {
  font-size: 1rem;
  font-weight: 700;
}
